/* Login and Register */
.login-container {
	display: flex;
	flex-direction: column;
	
	margin: 0 auto;
	margin-top: 10rem;
	padding: 2rem 1rem;

	width: 25rem;
	max-width: 95%;

	border-radius: 7px;
	border: 1px solid #b2b2b2;

	.login-title {
		display: inline-block;
		padding: 1rem;
		font-size: 2rem;
	}

	mat-form-field {
		padding: 0 1rem;
		margin-bottom: 1rem;
	}

	button {
		width: 50%;
		margin: 0 auto;
		color: #ffffff;
		background: orange;
	}

}

@media(max-width: 650px) {
	.login-container {
		width: 80%;
		margin-top: 5rem;
		overflow-x: hidden;
	}
}